body{
    background: rgba(255, 255, 255, 1); /* Songs in playlist background */
    min-width: 350px;
}

#playlist{
    background: rgba(233, 233, 233, 1);
    width:20%;
    height:100vh;
    float:left;
    position: fixed;
    border-right: 1px solid rgba(192, 191, 191, 1);
}

#playlist-controls{
    height:100px;
    font-size:30px;
    text-align: center;
}

#playlist-list ul li a{
    border-radius: 0;
}

#song-content{
    background: rgba(39, 39, 39, 1);;
    width:80%;
    height:100px;
    float:right;
    color: rgba(231, 231, 231, 1);
}

.song-img{
    max-height: 100px;
    padding: 10px 0;
}

.song-info-text{
    overflow: hidden;
}

.song-info-text p{
    margin: 5px 0 0 0;
}

#song-controls, #playlist-controls{
    text-align: center;
}

#song-controls span{
    margin: 10px 5px;
}

#playlist-content{
    width:80%;
    float: right;
}

.playlist-sort{
    font-weight: bold;
}

#playlist-song-list ul {
    display: table;
    width:100%;
    border-collapse: collapse;
}

#playlist-song-list ul li {
    border: 1px solid #ccc;
    display:table-row;
}

#playlist-song-list ul li span {
    padding: 4px 10px;
    display: table-cell;
    border-right:1px solid #ccc;
}

#playlist-song-list ul li:hover {
    background:rgba(0,0,0,0.1);
    cursor: pointer;
}

#playlist-song-list ul li span i{
    font-size: 8px;
}

#playlist-song-list ul li.playlist-sort:hover{
    background: inherit;
}

#playlist-song-list ul li.playlist-sort span:hover{
    background:rgba(0,0,0,0.1);
}

.song-play{
    visibility: hidden;
}

.btn.song-play{
    border: none;
    border-radius: 0;
}

#playlist-song-list ul li:hover .song-play{
    visibility: visible;
}
